.pdv-box {
    width: 100px;
    height: 60px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.btn-primary { background-color: #00ff40 !important; } /* verdi Online */
.btn-secondary { background-color: #ff0000 !important; } /* vermei Offline */

aside button {
    font-weight: bold;
    border-radius: 5px;
}