
.pdv-box {
    width: 100px;
    height: 60px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* public/css/style.css */
.btn-online { 
    background-color: #00ff40 !important; 
    color: #000 !important; /* Texto preto para melhor contraste no verde */
    border-color: #008020 !important;
}

.btn-offline { 
    background-color: #ff0000 !important; 
    color: #fff !important; 
    border-color: #800000 !important;
}

aside button {
    font-weight: bold;
    border-radius: 5px;
}